apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: prod
  labels:
    app: myapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: bathinapullarao/perchases:latest #nginx:latest
          ports:
            - containerPort: 8091
          env:
            - name: APP_ENV
              valueFrom:
                configMapKeyRef:
                  name: myapp-config
                  key: environment

